
.profiles--form
  = form_for profile do |f|
    .field
      %label role
      = f.select :role, options_for_select(Wco::Profile.roles_list, selected: profile.role )

    .actions
      = f.submit 'Go'
