
.bundle
.byebug_history

/config/initializers/0*

*gem

node_modules

/log/*.log

/pkg/

/tmp/
/test/dummy/config/initializers/0*
/test/dummy/log/*.log
/test/dummy/tmp/
*trash

/vendor/bundle
.DS_Store
