
.bundle
.byebug_history

/config/initializers/0*

.DS_Store

*gem

/log/*.log

node_modules

/pkg/

/tmp/*
!/tmp/.keep
/test/dummy/config/initializers/0*
/test/dummy/log/*.log
/test/dummy/tmp/
*trash

/vendor/bundle
/volumes/localstack_development_data/*
!/volumes/localstack_development_data/.keep
/volumes/mongo_development_data/*
!/volumes/mongo_development_data/.keep

zenv
