
.bundle
.byebug_history

/config/initializers/05_stripe.rb

*gem

node_modules

/log/*.log

/pkg/

/tmp/
/test/dummy/config/initializers/05_stripe.rb
/test/dummy/log/*.log
/test/dummy/tmp/
*trash

/vendor/bundle
