
.reports-index.maxwidth
  %h5
    Reports
    = link_to '[+]', new_report_path

  %table.bordered
    %tr
      %th &nbsp;
      %th slug
    - @reports.each do |ttt|
      %tr
        %td
          .flex-row
            = button_to '[x]', report_path(ttt), method: :delete, data: { confirm: 'Are you sure?' }
            = link_to '[~]', edit_report_path(ttt)
        %td= link_to ttt.slug, report_path(ttt)
