
<!-- Matomo Image Tracker-->
<img referrerpolicy="no-referrer-when-downgrade" src="https://analytics.wasya.co/matomo.php?idsite=2&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
  style="border-collapse: collapse; height: 100%; margin: 0px; padding: 0px; width: 100%;">
  <tbody>
    <tr>
      <td align="center" valign="top"
        style="height: 100%; margin: 0px; padding: 0px; width: 100%; border-top: 0px;">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
          <tbody>
            <tr>
              <td align="center" valign="top"
                style="background: none 50% 50% / cover no-repeat rgb(244, 227, 39); border-top: 0px; border-bottom: 0px; padding-top: 0px; padding-bottom: 9px;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                  style="border-collapse: collapse; max-width: 600px;">
                  <tbody>
                    <tr>
                      <td valign="top"></td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            <tr>
              <td align="center" valign="top"
                style="background: none 50% 50% / cover no-repeat rgb(198, 0, 0); border-top: 0px; border-bottom: 0px; padding-top: 9px;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                  style="border-collapse: collapse; max-width: 600px;">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                          style="min-width: 100%; border-collapse: collapse;">
                          <tbody>
                            <tr>
                              <td valign="top" style="padding: 9px 9px 0px;">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                                  style="min-width: 100%; border-collapse: collapse;">
                                  <tbody>
                                    <tr>
                                      <td valign="top" style="padding: 0px 9px; text-align: center;">


                                        <img align="center" alt="" width="80"
                                          style="max-width: 80px; padding-bottom: 0px; vertical-align: bottom; border: 0px; height: auto; outline: none; text-decoration: none; display: inline;"
                                          src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183645/80x80_diamond_icon.png" />


                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                                          style="min-width: 100%; border-collapse: collapse;" >
                                          <tbody>
                                            <tr>
                                              <td style="padding-top: 27px;">
                                                <table border="0" cellspacing="0" width="100%"
                                                  style="background-color: rgb(255, 255, 255); border-width: 2px 2px 0px; border-top-style: dashed; border-right-style: dashed; border-left-style: dashed; border-color: initial; border-image: initial; border-bottom-style: initial; border-collapse: collapse; min-width: 100%;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top"
                                                        style="padding: 18px; color: rgb(198, 0, 0); font-family: Helvetica; font-size: 14px; font-weight: normal; text-align: left; word-break: break-word; line-height: 150%;">
                                                        <div style="text-align: center;"></div>

                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>


                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            <tr>
              <td align="center" valign="top"
                style="background: none 50% 50% / cover no-repeat rgb(51, 204, 204); border-top: 0px; border-bottom: 0px;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                  style="border-collapse: collapse; max-width: 600px;">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                          style="min-width: 100%; border-collapse: collapse;">

                          <tbody>
                            <tr>
                              <td valign="top">


                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                                  style="min-width: 100%; border-collapse: collapse;"
                                  >
                                  <tbody>
                                    <tr>

                                      <td style="padding-top: 0px; padding-left: 18px; padding-right: 18px;">

                                        <table border="0" cellspacing="0"
                                          width="100%"
                                          style="background-color: rgb(255, 255, 255); border-width: 0px 2px; border-right-style: dashed; border-left-style: dashed; border-color: initial; border-image: initial; border-top-style: initial; border-bottom-style: initial; border-collapse: collapse; min-width: 100%;">
                                          <tbody>
                                            <tr>
                                              <td valign="top"
                                                style="padding: 18px; color: rgb(198, 0, 0); font-family: Helvetica; font-size: 14px; font-weight: normal; text-align: left; word-break: break-word; line-height: 150%;">
                                                <div style="text-align: center;">
                                                  <a href="https://wasya.co/landing-pages/ruby-on-rails-development-1"
                                                    style="color: rgb(0, 124, 137); font-weight: normal; text-decoration: underline;"
                                                    target="_blank"
                                                    data-saferedirecturl="https://wasya.co/landing-pages/ruby-on-rails-development-1"
                                                  >
                                                    <img height="64"
                                                      style="border: 0px; width: 257px; height: 64px; margin: 0px; outline: none; text-decoration: none;"
                                                      width="257"
                                                      src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183647/257x64_wasya_co-logo.png" />
                                                  </a>
                                                </div>

                                                <h1
                                                  style="text-align: center; display: block; margin: 0px 0 40px 0; padding: 0px; color: rgb(254, 0, 0); font-family: Helvetica; font-size: 26px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: normal;">
                                                  <span >Ruby</span> on <span >Rails</span>
                                                  Application <span >Development</span></h1>



                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 200px; border-collapse: collapse;"
                                                          width="100%" >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"
                                                                style="padding: 0px 18px 9px; color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: right;">
                                                                <div>
                                                                  <img height="100"
                                                                    style="border: 0px; width: 100px; height: 100px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="100"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183646/100x100_floppy_icon.png" />
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" valign="center" border="0" cellpadding="0" cellspacing="0" height="100"
                                                          style="max-width: 300px; border-collapse: collapse;"
                                                          width="100%"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="center"
                                                                style="color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: left;">
                                                                Support for &amp; Migration of<br>Legacy Systems
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>




                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">





                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          height="100px"
                                                          style="max-width: 300px; border-collapse: collapse;"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="center"

                                                                style="padding: 0px 18px 9px; color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: right;">
                                                                  Greenfield <span class="il">Development</span> of<br>New Systems
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 200px; border-collapse: collapse;"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: left;">
                                                                <div class="m_7956922134145776498img-lg-right-desktop">
                                                                  <img height="100"
                                                                    style="border: 0px; width: 100px; height: 100px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="100"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183646/100x100_code_icon.png" />
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>




                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 200px; border-collapse: collapse;"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"
                                                                style="padding: 0px 18px 9px; color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: right;">
                                                                <div class="m_7956922134145776498img-lg-left">
                                                                  <img
                                                                    height="100"
                                                                    style="border: 0px; width: 100px; height: 100px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="100"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183646/100x100_paper_plane_icon.png" /></div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 300px; border-collapse: collapse;"
                                                          height="100px"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="center"
                                                                style="padding: 0px 18px 9px; color: rgb(0, 0, 0); font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; font-style: normal; font-weight: bold; word-break: break-word; font-size: 16px; line-height: 150%; text-align: left;">
                                                                Architecture, Tooling &amp; <br />Continuous Improvement
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>



                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 72px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 100%; min-width: 100%; border-collapse: collapse;"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">
                                                                We are software <span class="il">development</span>
                                                                experts who can act as your IT department, resolve
                                                                technical issues and create new functionality that your
                                                                business needs to succeed.
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>





                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 90px; border-collapse: collapse;"
                                                          width="100%">
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">
                                                                <div style="text-align: right;"><img height="50"
                                                                    style="border: 0px; width: 23px; height: 50px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="23"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183644/23x50_paragraph_icon.png" /></div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          width="80%"
                                                          style="border-collapse: collapse;">
                                                          <tbody>
                                                            <tr>
                                                              <td valign="top"
                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">
                                                                <span style="color: rgb(198, 0, 0);"><strong>Scale existing systems, resolve performance bottlenecks, fix critical issues</strong></span>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>






                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 90px; border-collapse: collapse;"
                                                          width="100%">
                                                          <tbody>
                                                            <tr>

                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">

                                                                <div style="text-align: right;"><img height="50"
                                                                    style="border: 0px; width: 23px; height: 50px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="23"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183644/23x50_paragraph_icon.png" /></div>

                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          width="80%"
                                                          style="border-collapse: collapse;">
                                                          <tbody>
                                                            <tr>

                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">

                                                                <span style="color: rgb(198, 0, 0);"><strong>Implement
                                                                    new features to answer client &amp; internal
                                                                    needs</strong></span>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>




                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 90px; border-collapse: collapse;"
                                                          width="100%">
                                                          <tbody>
                                                            <tr>

                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">

                                                                <div style="text-align: right;"><img height="50"
                                                                    style="border: 0px; width: 23px; height: 50px; margin: 0px; outline: none; text-decoration: none;"
                                                                    width="23"
                                                                    src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/10/03183644/23x50_paragraph_icon.png" /></div>

                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          width="80%"
                                                          style="border-collapse: collapse;">
                                                          <tbody>
                                                            <tr>

                                                              <td valign="top"

                                                                style="padding: 0px 18px 9px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">

                                                                <span style="color: rgb(198, 0, 0);"><strong>We provide
                                                                    SLA's, support and 99.9% uptime
                                                                    guarantee</strong></span>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>




                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 9px;">



                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                          style="max-width: 100%; min-width: 100%; border-collapse: collapse;"
                                                          width="100%"
                                                          >
                                                          <tbody>
                                                            <tr>

                                                              <td valign="top"

                                                                style="padding: 0px 18px 72px; word-break: break-word; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 150%; text-align: left;">

                                                                Are you ready to schedule a free call with one of our
                                                                experts to take a deep dive on your project?
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>



                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                  style="min-width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="padding: 0px 18px 18px;" valign="top" align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                          style="border: 1px solid rgb(238, 238, 238); border-radius: 5px; background-color: rgb(198, 0, 0); border-collapse: separate;">
                                                          <tbody>
                                                            <tr>
                                                              <td align="center" valign="middle"
                                                                style="font-family: Arial; font-size: 16px; padding: 18px;"
                                                              >
                                                                <a
                                                                  title="Chat with Us!"
                                                                  href="https://wasya.co/contact-us?<%= @utm_tracking_str %>"
                                                                  style="font-weight: bold; letter-spacing: 1px; line-height: 100%; text-align: center; text-decoration: none; color: rgb(238, 238, 238); display: block;"
                                                                  target="_blank"
                                                                > Chat with Us! </a>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>



                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>



                              </td>
                            </tr>
                          </tbody>
                        </table>


                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            <tr>
              <td align="center" valign="top"
                style="background: none 50% 50% / cover no-repeat rgb(170, 167, 167); border-top: 0px; border-bottom: 0px; padding-bottom: 9px;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                  style="border-collapse: collapse; max-width: 600px;">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"

                          style="min-width: 100%; border-collapse: collapse; table-layout: fixed;">





                          <tbody>
                            <tr>
                              <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                  style="min-width: 100%; border-collapse: collapse;">

                                  <tbody>
                                    <tr>
                                      <td valign="top">


                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                                          style="min-width: 100%; border-collapse: collapse;"
                                          >
                                          <tbody>
                                            <tr>

                                              <td style="padding: 0px 18px 9px;">

                                                <table border="0" cellspacing="0"
                                                  width="100%"
                                                  style="background-color: rgb(255, 251, 251); border-width: 0px 2px 2px; border-right-style: dashed; border-bottom-style: dashed; border-left-style: dashed; border-color: initial; border-image: initial; border-top-style: initial; border-collapse: collapse; min-width: 100%;">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top"
                                                        style="padding: 18px; color: rgb(242, 242, 242); font-family: Helvetica; font-size: 14px; font-weight: normal; text-align: center; word-break: break-word; line-height: 150%;">
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>



                                      </td>
                                    </tr>
                                  </tbody>
                                </table>








                              </td>
                            </tr>
                          </tbody>
                          <tbody>
                            <tr>
                              <td style="min-width: 100%; padding: 10px 18px 25px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                  style="min-width: 100%; border-top: 2px solid rgb(238, 238, 238); border-collapse: collapse;">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <span></span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>



                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                          style="min-width: 100%; border-collapse: collapse;">
                          <tbody>
                            <tr>
                              <td valign="top" style="padding-top: 9px;">



                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                  style="max-width: 100%; min-width: 100%; border-collapse: collapse;" width="100%"
                                  >
                                  <tbody>
                                    <tr>
                                      <td valign="top"
                                        style="padding: 0px 18px 27px; color: rgb(204, 204, 204); word-break: break-word; font-family: Helvetica; font-size: 12px; line-height: 150%; text-align: center;">
                                        <div style="text-align: center;">
                                          Wasya Co is a niche&nbsp;consultancy in Austin, TX.<br>
                                          We respect your privacy - click to unsubscribe.<br>
                                          You can also reply to request more info.
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>



                              </td>
                            </tr>
                          </tbody>
                        </table>


                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>


            <tr>
              <td align="center" valign="top"
                style="background: none 50% 50% / cover no-repeat rgb(244, 227, 39); border-top: 0px; border-bottom: 0px; padding-top: 0px; padding-bottom: 9px;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                  style="border-collapse: collapse; max-width: 600px;">
                  <tbody>
                    <tr>
                      <td valign="top"></td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>



          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>