
.headlines-index
  %ul
    - @headlines.each do |headline|
      %li
        = link_to '[~]', edit_headline_path(headline)
        .d-inline-block= button_to 'x', headline_path(headline), method: :delete, data: { confirm: 'Are you sure?' }
        = headline.name
        %ul
          %li <b>Tags:</b> #{headline.tags.map { |ttt| ttt.slug } }


