
.tags-show.maxwidth

  %h5 Tag `#{@tag.slug}`

  %ul
    %li.d-flex
      <b>Headlines (#{@tag.headlines.length}):</b>
      = render '/wco/headlines/index', headlines: @tag.headlines
    %li
      <b>N reports:</b> #{@tag.reports.length}