/*
 *= require vendor/bootstrap-4.6.2.min
 *
 *= require ./utils
 *= require_tree .
**/

/* body {
  color: red !important;
} */

.select2 {
  min-width: 200px;
  width: 100%;
}

.wco--alerts-notices {
  border-bottom: 1px solid red;
}

.main-footer {
  border-top: 1px solid red;
}

.main-header {
  // border-bottom: 1px solid red;

  li {
    display: flex;

    input[name='q'] {
      width: 20px;
    }
  }
}
