/*
 *= require vendor/bootstrap-4.6.2.min
 *
 *= require ./utils
 *= require_tree .
**/

.bold {
  font-weight: bold;
}

.select2 {
  min-width: 200px;
}

.main-footer {
  border-top: 2px solid #6395b9;
}

.main-header {
  border-bottom: 2px solid #6395b9;

  li {
    display: flex;

    input[name='q'] {
      width: 20px;
    }
  }
}
