/*
 *= require vendor/bootstrap-4.6.2.min
 *
 *= require ./utils
 *= require_self
**/


.wco--alerts-notices {
  border-bottom: 1px solid red;
}

.main-footer {
  border-top: 1px solid red;
}

.main-header {
  // border-bottom: 1px solid red;

  li {
    display: flex;

    input[name='q'] {
      width: 20px;
    }
  }
}


/* .min-w-100px {
  min-width: 100px;
}
.min-w-40px {
  min-width: 40px;
} */
