



.chip,
.Chip {
  background: var(--wco-color-2);
  border-radius: 1em 0 0 1em;

  color: var(--wco-color-2contrast);
  a {
    color: var(--wco-color-2contrast);
  }

  display: inline-block;

  height: 32px;

  margin-right: 32px;
  margin-bottom: 0.3em;

  padding: 0.1em .3em;
  padding: 0.2em 0.2em 0.2em 0.6em;
  position: relative;

  &::before {
    // border: 1px solid red;
    // background: yellow;

    content: "";
    display: block;

    position: absolute;
    right: -16px;
    top: 0;

    width: 16px;
    height: 32px;

    // border-left: 12px solid white;
    border-top: 17px solid var(--wco-color-2);
    border-right: 12px solid transparent;
    // border-bottom: 12px solid transparent;
  }
  &::after {
    // border: 1px solid red;

    content: "";
    display: block;

    position: absolute;
    right: -16px;
    bottom: 0;

    width: 16px;
    height: 32px;

    border-bottom: 17px solid var(--wco-color-2);
    border-right: 12px solid transparent;
  }
}