
// label {
//   display: block;
// }

// .tmp-1 {
//   float: right;
// }

hr {
  border-top: 1px solid red;
}

textarea {
  border: 1px solid red;

  min-width: 400px;
  width: 100%;

  min-height: 300px;
}

/* A */

.absolute {
  border: 1px solid pink;
  position: absolute;
  background: pink;
}

/* B */

.blue {
  color: blue;
}

.border-left {
  border-left: 1px solid red !important;
}
.border-right {
  border-right: 1px solid red !important;
}

.bordered {
  border: 1px solid gray;
  border-radius: 5px;

  padding: 0.5em;
}

table.bordered {
  table-layout:fixed;
  width: auto; // 100%;
  word-wrap: break-word;

  border: 1px solid gray;
  // border-bottom: 0;
  // border-right: 0;


  th {
    background: #ddd;
    border: 1px solid gray;
    font-weight: bold;
    padding: 0.5em;
  }

  td {
    border: 1px solid gray;
    border-top: 0;
    border-left: 0;

    padding: 0.5em;
    vertical-align: top;
  }
  .latest-at {
    width: 100px;
  }
  .froms,
  .leads {
    width: 200px;
  }
}

table.no-padding {
  td {
    padding: 0;
  }
}



/* C */

.code,
.mono,
.monospace {
  font-family: monospace;
  font-size: 0.8em;
}
textarea.monospace {
  padding: 0.6em;
}

.crossed,
.crossout {
  text-decoration: line-through;
}

/* D */

.d-flex {
  align-items: baseline;
}

.descr {
  border: 1px solid red;
  border-radius: 0.5em;

  padding: 0.5em;
  margin-bottom: 0.5em;
}

/* E */

.eg {
  color: gray;
  font-size: 0.8em;
}

/* F */

.flex-grow {
  flex-grow: 1;
}
.flex-row {
  display: flex;
}
.flexwidth {
  max-width: 1000px;
  margin: auto;
}

.field_with_errors {
  flex-grow: 1;
}

/* G */

.gray,
.grey {
  color: #999;
  display: inline-block;
}

.green {
  color: green;
}

/* H */


.h-20px {
  min-height: 20px;
}
.h-30px {
  min-height: 30px;
}
.h-50px {
  min-height: 50px;
}

.h-300px {
  min-height: 300px;
}

.h-400px {
  min-height: 400px;
}

.h-500px {
  min-height: 500px;
}

.header {
  display: flex;
  justify-content: center;

  > * {
    padding-right: 0.2em;
  }

  .title {
    display: flex;
  }
}

.hide, .hidden {
  display: none !important;
}

/* I */

input[type=file] {
  margin: 0.5em 0;
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 0.5em;
}

/* M */

.maxwidth {
  width: 1200px;
  max-width: 1200px; /* @TODO: this would be responsive by-breakpoint _vp_ 2024-04-23 */
  margin: auto;
}

.main-header {
  .active,
  ._ {
    border-bottom: 2px solid red;
  }
}

.mini {
  font-size: 0.75em;
}
.mini-inputs {
  input[type='number'] {
    width: 4em;
  }
}
/* P */

.padded {
  // border: 1px solid green;

  // margin: 0.5em;
  // width: calc( 100% - 1em );

  margin: 15px; // bootstrap has 15px gutters
}

table pre {
  max-width: 50vw;
  max-height: 50vh;
  border: 1px solid #ccc;
  padding: 1em;
}

/* R */

.red {
  color: red;
}

label.required {
  &:after {
    content: ' *';
    color: red;
  }
}


/* S */

.spacer-small {
  height: 20px;
}

div.sticky,
h2.sticky,
h3.sticky,
h4.sticky,
h5.sticky {
  position: sticky;
  top: 0.5em;
  z-index: 10;

  border-radius: 0.5em;
  padding: 0.5em;
  background: rgba(255,255,255, 0.5);
}

table.sticky thead,
table thead.sticky {
  background: #ccc;

  th {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

/* T */

.title {
  word-break: break-word;
}

/* W */

.w-2em {
  width: 2em;
}
.w-3em {
  width: 3em;
}

.w-10px {
  width: 10px;
}
.w-20px {
  width: 20px;
}
.w-30px {
  width: 30px;
}
.w-50px {
  width: 50px;
}
.w-150px {
  width: 150px;
}
.w-200px {
  width: 200px;
}
.w-300px {
  width: 300px;
}

.w-400px {
  width: 400px;
}

.w-500px {
  width: 500px;
}
