
.zero-height {
  position: absolute;
}

.timeline-stamps {
  border: 1px solid red;
  width: 50px;

  position: absolute;
  top: 3px; // border

  height: 100%;

  .tick {
    position: absolute;
    left: 0;
    font-size: 10px;
    transform: translateY(-50%);
    border-top: 1px solid black;
    height: 5px;
    background: white;
  }

}





.NewsoverlayTimeline {
  border: 5px solid green;
  background: white;
  position: absolute;
  left: 230px;

  &:hover {
    z-index: 5;
  }
}

.NewspartialTimelineW {
  position: relative;
  min-height: 50px;
}

.NewspartialTimeline {
  border: 1px solid blue;
  position: relative;

  margin-left: 50px;
  width: 400px;

  .full-text {
    // position: absolute;
    // left: 300px;

    float: left;
    margin-left: 300px;

    .header {
      background: #efefef;
    }

    .flex-row > div {
      margin-right: 1em;
    }

    .descr {
      min-width: 300px;
    }

    .full-textC {
      z-index: 4;
      position: relative;
      background: white;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
    }

  }

  .main {


    width: 200px;
  }


  .timestamp {
    position: absolute;
    .word {
      border: 1px solid cyan;
      left: 100px;
      position: absolute;
    }
    .wtime {
      border: 1px solid yellow;
      left: 20px;
      position: absolute;
    }
  }

}


.NewsvideoTimeline {
  border: 5px solid yellow;
  position: absolute;
}
