
body {
  background: #ccc;
}


.cameras {
  label {
    margin-right: 2em;
  }
}


.StudioW1 {
  border: 1px solid red;

  height: 100%;

  display: flex;
  justify-content: center;

  .StudioW0 {
    border: 1px solid blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

