
body {
  background: #ccc;
}


.ctrl-row {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-right: 2em;
  }
}

.rotatingW {
  display: flex;
  justify-content: center;
}

.StudioW1 {
  border: 1px solid red;

  height: 100%;

  display: flex;
  justify-content: center;

  .StudioW0 {
    border: 1px solid blue;
    background: #bbb;

    display: block;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    z-index: 5;
  }
}

