
// label {
//   display: block;
// }

hr {
  border-top: 1px solid red;
}

textarea {
  border: 1px solid red;

  min-width: 400px;
  width: 100%;

  min-height: 300px;
}

/* B */

table.bordered {

  border: 1px solid gray;
  border-bottom: 0;
  border-right: 0;

  th {
    background: #ddd;
  }

  td {
    border: 1px solid gray;
    border-top: 0;
    border-left: 0;
  }

}

/* C */

.code,
.monospace {
  font-family: monospace;
  font-size: 0.8em;
}


/* D */

.descr {
  border: 1px solid red;
  padding: 0.5em;
}

/* F */

.flex-row {
  display: flex;
}

/* G */

.gray,
.grey {
  color: grey;
}

/* M */

.maxwidth {
  max-width: 1000px;
  margin: auto;
}

/* P */

.padded {
  margin: 0.5em;
}
