
.galleries-edit.maxwidth
  = render 'title', gallery: @gallery
  = render 'form', gallery: @gallery, :url => gallery_path( @gallery )
  = render 'thumbs', gallery: @gallery
  = render 'wco/photos/multinew', gallery: @gallery
