
- tmpl ||= nil
- depth ||= 5
- depth = depth - 1

- if ties.present? && depth >= 0
  %ul
    -# .blue= ties[0].length
    - ties.each do |tie|
      %li
        = tie.next_at_exe
        %br
        = link_to '[~]', edit_office_action_template_path(tie.next_tmpl)
        = link_to tie.next_tmpl, office_action_template_path(tie.next_tmpl)
        - if tie.next_tmpl == tmpl
          <b>[Same]</b>
        - elsif tie.next_tmpl.ties.present?
          = render '/wco/office_action_templates/ties', ties: tie.next_tmpl.ties, depth: depth, tmpl: tie.next_tmpl