<table align="left" border="0" cellpadding="0" cellspacing="0"
  style="max-width:100%; min-width:100%;" width="100%"
  class="mcnTextContentContainer">
  <tbody>
    <tr>

      <td valign="top" class="mcnTextContent"
        style="padding-top:0; padding-right:160px; padding-bottom:9px; padding-left:160px;">

        <em>Copyright © Wasya Co</em><br><br>

        <strong>Our mailing address is:</strong><br>

        201 W 5th St 11th Floor, Austin, TX 78701<br><br>

        Want to change how you receive these emails? You can
        <% # link_to( 'update your preferences', obfuscate( user_dashboard_url ) ) + ' or ' %>
        <%= link_to 'unsubscribe from this list', obfuscate( @unsubscribe_url ) %>.<br><br>

      </td>

    </tr>
  </tbody>
</table>