
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center">
      <br />
      <img
        src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/09/29185755/259x66-WasyaCo-Logo-YellowShadow.png"
        alt="Wasya Co [logo]" />
    </td>
  </tr>
</table>
<br /><br />
